[Unit]
Description=DotL Bud Discord Bot
After=network.target
StartLimitIntervalSec=0

[Install]
WantedBy=default.target

[Service]
Type=simple
Restart=always
RestartSec=1
WorkingDirectory=/home/ubuntu/DotL-Bud
ExecStart=/home/ubuntu/DotL-Bud/r
